.Dashboard{
    padding: 3vmin 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Title{
    text-align: center;
    padding: 1vmin;
    font-size: xx-large;
}

.Input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.StatusData{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
